/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";

.sidebar {
width: 300px;
float: right;
}
.main-content {
position: inherit;
min-height: 100%;

}

.row {
  padding: 5px;
}

.vote-box {
  text-align: center;
  border-width: 1px;
  float: left;
  height: 65px;
  padding: .2em;
  padding-right: .5em;

  a:hover {
    text-decoration: none;
  }

}

#link-heading {

  a:hover {
    text-decoration: none;
  }

  a:visited {
  color: #593271;
  transition: 0.5s;
  }
}

.no-vote {
  color: grey;
}

.up-vote {
  color: #FC3D20;
}

.down-vote {
  color: #5392F1;
}

ul.comment {
  list-style-type: none;
  padding: 0px;
}

.reply-button {
  cursor: pointer;
}

li {
  border-style: solid;
  border-radius: .4em;
  border-width: 1px 1px 1px .4em;
  border-color: #EAEAEA;
  margin: 10px 0px 5px 10px;
  padding: 1em .5em .5em 1em;
}

.pagination_button {
  cursor: default;
  /* self-clearing method: */ }
  .pagination_button a, .pagination_button span, .pagination_button em {
    background-color: #EEEEEE;
    padding: 0.1em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination_button .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination_button a {
    text-decoration: none;
    font-weight: bold;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination_button a:hover, .pagination_button a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination_button:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination_button {
    height: 1%; }
  *:first-child + html .pagination_button {
    overflow: hidden; }
