.media {
  color: grey;

  img {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: none;
  }

  .title {
    font-size: medium;
  }

  .info {
    font-size: x-small;
  }

  .links {
    font-size: x-small;
    font-weight: bold;
  }

}
